.custom-notification-box {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9e9c96;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6a6862;
}
.notification-active{
    background: #ecf0eb;
}